/*Variables CSS*/
:root {
    /*Colors*/
    --color-primary: linear-gradient(#191d2b, #2e344eee);
    --color-secondary: #27AE60;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-0: #ebe8e8;
    --color-nav: #b3b3b3;
    --color-grey-2: #929292;
    --color-grey-3: #727272;
    --color-grey-4: #424242;
    --color-grey-5: #2e2e2e;
    --color-title: #000;
    --color-text: #e8ecf0;
    --color-text-light: #b2becd;
    --body-color: #dedede;
    --container-color: #d4d4d4;
    --br-sm-2: 14px;

    /*Font and Typography*/
    /*0.5rem = 8px | 1 rem = 16px*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*Font Weight*/
    --font-light: 200;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*Z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*Base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-primary);
    color: var(--color-text);
    font-family: var(--body-font);
}

a,
btn {
    transition: all 300ms ease;
}

/*Destop Navigation*/
nav,
.nav-links {
    display: flex;
}

nav {
    align-items: center;
    justify-content: space-around;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: var(--normal-font-size);
}

a {
    text-decoration: none;
    color: var(--color-nav);
    font-size: var(--normal-font-size);
}

a:hover {
    background-color: var(--color-grey-0);
    border-radius: 3px;
    border: 3px none #dedede;
    transition: 0.3s;
    color: var(--color-black);
}

.logo {
    font-size: var(--h1-font-size);
}

.logo:hover {
    cursor: default;
}

/*Hamburger-Menu*/
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--color-grey-0);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: inherit;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-black);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    border-bottom: 1px dashed var(--color-secondary);
    border-bottom-width: 50%;
}

.menu-links li {
    list-style: none;
    display: block;
}

.menu-links.open {
    max-height: 400px;
    color: var(--color-black);
    position: absolute;
    padding-top: 32px;
    background: var(--color-white);
    border-radius: 20px;
    z-index: 1;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/*Section*/
section {
    height: 90vh;
    margin: 7%;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 80vh;
    position: relative;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    justify-content: center;
}

.section__text {
    align-self: center;
    justify-content: center;
    max-width: 600px;
}

.section__text p {
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: 5px;
    font-size: var(--normal-font-size);
    margin: 0 auto;
}

.section__text h1 {
    font-weight: var(--font-bold);
    text-align: center;
    margin-top: 30px;
}

span.name {
    color: var(--color-secondary);
}

span.itil {
    color: rgb(187, 135, 235);
}

.social-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 16px;
}

.social-container a {
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition: transform 0.5s;
}

.social-container a:hover {
    transform: translate(-5px);
    background: inherit;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 36px;
}

#woodenedge {
    border-bottom: 2px solid var(--color-secondary);
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.btn {
    font-weight: 550;
    transition: all 300ms ease;
    padding: 12px;
    width: 150px;
    min-width: fit-content;
    font-size: var(--small-font-size);
    border-radius: 32px;
}

.btn-color-1,
.btn-color-2 {
    border: var(--color-grey-0) 1px solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: var(--color-grey-4);
    color: white;
}

.btn-color-1:hover {
    background: var(--color-black);
}

.btn-color-2 {
    background: var(--color-grey-2);
}

.title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    border-bottom: 3px solid #333;
    padding-bottom: 30px;
}

.subtitle {
    text-align: center;
}


/*-----------ABOUT--------------*/

#about {
    position: relative;
    padding: 80px 0;
    margin-bottom: 20px;
}

.about-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 50px;
}

.section-container-pic-1 {
    flex-basis: 30%;
}

.section-container-details-2 {

    flex-basis: 70%;
}

.about-pic {
    margin-top: 32px;
    width: 90%;
    border-radius: 32px;
}

.section-containers-text {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.line-gap {
    margin-bottom: 20px;
}

.section-container-brief {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
}

.arrow {
    position: absolute;
    right: -2rem;
    bottom: 2rem;
}

.experience-education-container {
    padding: 16px;
    flex: 1;
    border-radius: 2rem;
    text-align: center;
    background: rgb(111, 111, 111);
}

/*-----------SKILLS--------------*/

#skills {
    position: relative;
    padding: 80px 0;
}

.skills-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 32px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: auto;
}

.skill-box {
    padding: 8px;
    cursor: pointer;
}

.skill-box:hover>.skill-title::after,
.skill-box:hover>.skill-title::before {
    width: 35px;
}

.skill-box:hover img {
    transform: scale(1.1);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;
    position: relative;
    font-size: var(--normal-font-size);
}

.skill-title::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--color-secondary);

}

.skill-title::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--color-secondary);

}

.img {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-radius: 20px;
}

.skill-icon {
    width: 90%;
}

.skill-title h4 {
    color: var(--color-text);
    margin: 8px;
}

/*-----------PROJECTS--------------*/

#projects {
    position: relative;
}

.projects-container {
    padding: 50px 0;
}

.project-details-container {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.project-detail {
    padding: 16px;
    flex: 1;
    border-radius: 16px;
    border: var(--color-grey-2) 0.1rem solid;
    border-color: var(--color-secondary);
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.project-img {
    height: 100px;
}

.project-title {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    color: var(--color-grey-0);
    align-items: center;
    justify-content: center;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.project-btn {
    color: var(--color-black);
    border-color: var(--color-white);
    flex-direction: row;
}

/*-----------CERTIFICATIONS--------------*/


#certifications {
    position: relative;
    padding: 80px 0;
    margin-top: auto;
}

.cert-title {
    font-weight: var(--font-regular);
    margin-top: 32px;
    text-align: center;
    justify-content: center;
}

/*-----------CONTACT--------------*/

#contact {
    position: relative;
    padding: 80px 0;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.contact-left {
    flex-basis: 30%;
}

.contact-left p {
    margin-top: 30px;
    font-weight: var(--font-regular);
    text-align: left;
}

.contact-left p i {
    margin-right: 8px;
}

.contact-social-container {
    margin-top: 30px;
    display: flex;
}

.contact-social-container a {
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    font-size: 30px;
    transition: transform 0.5s;
}

.contact-social-container a:hover {
    transform: translate(-5px);
    background: inherit;
}

.contact-right {
    flex-basis: 60%;
}

.contact-right-form {
    width: 100%;
    max-width: 85%;
    padding: 50px 30px 20px;
    background: rgb(98, 151, 74);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}

form input,
form textarea {
    width: 90%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: var(--color-black);
    background: var(--color-grey-0);
    font-size: var(--normal-font-size);
    border-radius: 20px;
}

form .btn {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    margin-top: 20px;
    cursor: pointer;
}

.ri-linkedin-box-fill,
.ri-github-fill {
    color: var(--color-secondary);
}

#msg {
    color: var(--color-secondary);
    margin-top: 10px;
    display: block;
    font-size: var(--small-font-size);
}

.ri-contacts-book-fill{
    position: relative;
    font-size: 26px;
}

.contact-header {
    display: flex;
    color: rgb(255, 255, 69);
    font-weight: 400;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-group label{
    flex-basis: 28%;
}

.input-group input, 
.input-group textarea{
    flex-basis: 88%;
}


.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: inherit;
    color: red;
}

#submit-error {
    color: red;
}

.input-group span i{
    color: rgb(79, 119, 18);
    font-size: inherit;
}
/*-----------FOOTER--------------*/

footer {
    height: 26vh;
    margin: 0 16px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--color-grey-0);
    margin-top: 20px;
    font-weight: var(--font-regular);
    color: var(--color-black);
}

.copyright p {
    font-size: var(--smallest-font-size);
}